header{
    height: 5.5rem;
    width: 100vw;
    padding: 1rem;
    background: linear-gradient(to right, #fbc901, #fb4b01);
}

.content{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    
    & .logo{
        width: 10vw;
        height: 100%;
    }
    & .titulo{
        width: 80vw;
        height: 90%;
    }
}
