.search{
    width: 85vw;
    height: 4rem;
    margin: 0 auto;
}


input{
    border: none;
    width: 85%;
    background-color: transparent;
    outline: none;
    padding: 0.8rem 3rem;
    /* margin-left: ; */
    font-size: 1.2rem;
    
}

button{
    background-color: transparent;
    border: none;
    width: 15%;
}
