nav {
    width: 99%;
    height: 4rem;
    margin: 0 auto;
    /* position: sticky; */
    
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 1rem;

    & a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
